.main_page_list {
  width: 550px;
  height: 550px;
  border-radius: 25px;
  box-shadow: 1px 0px 50px -20px grey;
  overflow: scroll;
}
.main_page_list > h5 {
  background-color: rgb(246, 246, 246);
  padding: 30px 0px;
}
